#plugin_fetchmedia_page {
    form {
        fieldset {
            width: 75%;

            label {
                display: block;
                text-align: left;

                > span {
                    width: 40%;
                    display: inline-block;
                }
            }
        }
    }

    #fetchmedia_results {
        margin-top: 2rem;

        > table {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
